*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header.design_4, header.design_4 *{ outline: 1px dotted black;}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
    width: 100vw;
    justify-content: start;
    align-items: flex-end;
    padding: 1rem .8rem;
    gap: 1rem;
}
header.design_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem 2rem;
    background-color: #f5c873d7;

    & > img.Burger_Logo{
        height: 50px;
    }

    & > nav.Nav1{
        display: flex;
        gap: 1rem;
        align-items: center;

        & > a.Nav-content{
            font-family: 'Poppins', sans-serif;
            font-weight: 550;
            font-size: 1rem;
            color: black;

        }

        & > button.Button_1{
            border-radius: 50px;
            border: solid 2px black;
            padding: .3rem .8rem;
            background-color: #FFA500;
            font-weight: 700;
            font-size: 1rem;
        }
    }
}

header.design_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem 2rem;
    background-color: #afafafd7;

    & > img.Shoe_Logo{
        height: 50px;
    }

    & > nav.Nav2{
        display: flex;
        gap: 1rem;
        align-items: center;

        & > a.Nav-content2{
            font-family: 'Poppins', sans-serif;
            font-weight: 550;
            font-size: 1rem;
            color: black

        }

        & > form.Searcharea_2{
            display: flex;
            gap: 1rem;
            align-items: center;

        & > input.Searchbar_2{
            border-radius: 50px;
            border: solid 2px black;
            padding: .3rem .8rem;
            background-color: #ffffff;
            font-weight: 700;
            font-size: 1rem;
        }

        & > button.fa-solid fa-magnifying-glass{
            height: 5rem;
            <!-- I want to increase the size of the icon -->
            }
        }
    }
}

header.design_3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem 1.2rem;
    background-color: #4cd038 ;

    & > button.Menu_3{
        display: flex;
        color: darkgreen;
        font-weight: 800;
        text-decoration: none;
        background-color: transparent;
        border: none;
        margin-left: 2rem;
    }

    nav.Nav-Img3{
        display: flex;
        justify-content: center;

        & > img.Herbal-Logo{
        height: 50px;
        }
    }
}

header.design_4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1877F2;
    padding: 1rem 2rem;
    width: 100vw;

    & > img.Sign-Logo{
        height: 50px;
    }

    & > nav.Nav4{
        display: flex;
        gap: 1rem;
        align-items: center;

        & > a.Nav-content4{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 1rem;
            color: white;
        }
    }

    & > nav.Sign-Buttons{
        display: flex;
        gap: 1rem;

        & > button.Sign-In{
            border-radius: 50px;
            border: solid 2px white;
            padding: .3rem .9rem;
            background-color: transparent;
            font-weight: 750;
            font-size: 1rem;
            color: white;
        }

        & > button.Sign-Up{
            border-radius: 50px;
            border: solid 2px white;
            padding: .3rem .9rem;
            background-color: transparent;
            font-weight: 750;
            font-size: 1rem;
            color: white;
        }
    }
}